{% extends "auth/DirectorMenu.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Upload files{% endblock %}

{% block content %}
<div class="page-header">
    <title>Upload new File</title>
</div>
<div class="col-md-4">
    <form action="http://localhost:5000/auth/uploader" method=post enctype=multipart/form-data>
        <label>Select :</label>
        <select name="homework" width="3000px">
                    {% for x in hw_list %}
                        <option value="{{ x }}" SELECTED>{{ x }}</option>
                    {% endfor %}
        </select>
        <br>
        <p><input type=file name=file><input type=submit value=Upload>
    </form>
</div>
{% endblock %}