{% extends "auth/StudentMenu.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="page-header">
    <h1>Upload Files</h1>
</div>
<div class="col-md-4">
    <form action="http://localhost:5000/auth/StudentFileUploader" method=post enctype=multipart/form-data>
       <label>Select :</label>
        <select name="homework" width="3000px">
                    {% for x in hw_list %}
                        <option value="{{ x }}" SELECTED>{{ x }}</option>
                    {% endfor %}
        </select>
        <p><input type=file name=file><input type=submit value=Upload>
    </form>
</div>
{% endblock %}